{% extends 'commerce/sidebar-left.html' %}
{% load i18n %}

{% block title %}{% trans 'Catalog' %}{% endblock %}

{% block content %}
    <h1 class="page-header">{% trans 'Product catalog' %}</h1>

    <div id="catalog-list">
        <div class="row">
            {% for object in object_list %}
                <div class="span3">
                    <div class="well">
                        <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
                        <p>{{ object.description }}</p>
                        <a href="{{ object.get_absolute_url }}" class="btn"><span>{% trans 'View products' %}</span></a>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
                    </div><!-- /.row -->
                    {% if not forloop.last %}<hr>{% endif %}
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div><!-- /.row -->
    </div><!-- /#catalog-list -->
{% endblock %}