{% extends 'commerce/no-sidebar.html' %}
{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block content %}
    <h1 class="page-header">{% trans 'Login' %}</h1>

    <form method="post" action="{% url commerce_accounts_login %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="form-horizontal well">
        {% csrf_token %}
        {% include 'commerce/helpers/form.html' %}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{% trans 'Login' %}" />
            <a href="{% url commerce_accounts_recover %}" class="btn btn-primary">{% trans 'Forgot password?' %}</a>
        </div>
    </form>
{% endblock %}