{% extends 'commerce/no-sidebar.html' %}
{% load i18n %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block content %}
    <div id="accounts-profile">
        <h1 class="page-header">{% trans 'Profile' %}</h1>

        <form method="post" action="{% url commerce_accounts_profile %}" class="form-horizontal well">
            {% csrf_token %}
            {% include 'commerce/helpers/form.html' %}

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}" />
            </div>
        </form>
    </div>
{% endblock %}