{% extends 'commerce/no-sidebar.html' %}
{% load i18n %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block content %}
    <h1 class="page-header">{% trans 'Registration' %}</h1>

    <div id="accounts-registration">
        <form method="post" action="{% url commerce_accounts_registration %}" class="form-horizontal">
            <div class="well">
                {% csrf_token %}
                {% include 'commerce/helpers/form.html' %}
            </div>

            <button class="btn btn-primary pull-right"><span>{% trans 'Register' %}</span></button>
        </form>
    </div>
{% endblock %}