{% extends 'commerce/no-sidebar.html' %}
{% load i18n utils thumbnail %}

{% block title %}{% trans 'Your orders' %}{% endblock %}

{% block content %}
    {% if object_list %}
        <table class="table table-bordered">
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td class="span2 bold">{{ object.identifier }}</td>
                        <td>
                            {% trans 'Total price' %}: {{ object.total|format_price }}
                        </td>
                        <td>
                            {% trans 'Postage' %}: {{ object.price_shipping|format_price }}
                        </td>
                        <td>
                            {% trans 'State' %}: {{ object.get_state_display }}
                        </td>

                        <td>{{ object.created|date:"d.m.Y H:i" }}</td>
                        <td><a href="{% url commerce_orders_invoice object.pk %}">{% trans 'Invoice' %}</a></td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <table class="table table-bordered table-condensed table-striped">
                                {% for line in object.line_set.all %}
                                    <tr>
                                        <td>
                                            <img src="{% thumbnail line.product.cover 40x40 %}" alt="{{ line.product.title }}">
                                        </td>

                                        <td>
                                            <h6>{{ line.product.title }}</h6>
                                        </td>

                                        <td>
                                            {% if line.price_discount %}
                                                <span class="strike">{{ line.price|format_price }}</span> {{ line.price_discount|format_price }}
                                            {% else %}
                                                {{ line.price|format_price }}
                                            {% endif %}
                                        </td>

                                        <td>
                                            {{ line.quantity }}
                                        </td>

                                        <td>
                                            {{ line.total|format_price }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans 'No orders found.' %}
    {% endif %}
{% endblock %}
