{% load static i18n utils %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Pragmatic Mates s.r.o. - www.pragmaticmates.com">

    <link href="{% static 'commerce/css/bootstrap/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'commerce/css/commerce.css' %}" type="text/css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <h1 class="page-header">{% trans 'Invoice No.' %}: {{ object.identifier }}</h1>

        {% include 'commerce/orders/invoice-description.html' %}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:50%">{% trans 'To' %}</th>
                    <th>{% trans 'Ship to' %}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <h3>{% trans 'Invoicing information' %}</h3>

                        <ul class="unstyled">
                            <li>{{ request.user.first_name }} {{ request.user.last_name }}</li>
                            <li>{{ profile.street_and_number }}</li>
                            <li>{{ profile.city }}, {{ profile.zip }}</li>
                            {% if profile.phone %}
                                <li>{{ profile.phone }}</li>
                            {% endif %}
                            <li>{{ profile.get_country_display }}</li>
                            <li><a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a></li>
                        </ul>

                        {% if object.get_information.company_name %}
                            <ul class="unstyled">
                                <li>{{ object.get_information.company_name }}</li>

                                {% if object.get_information.company_tax_id %}
                                    <li>{% trans 'TAX ID' %}: {{ object.get_information.company_tax_id }}</li>
                                {% endif %}

                                {% if object.get_information.company_vat %}
                                    <li>{% trans 'VAT' %}: {{ object.get_information.company_vat }}</li>
                                {% endif %}

                                {% if object.get_information.company_id %}
                                    <li>{% trans 'ID' %}: {{ object.get_information.company_id }}</li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>
                        <ul class="unstyled">
                            <li>{{ object.get_information.shipping_first_name }} {{ object.get_information.shipping_last_name }}</li>

                            {% if object.get_information.shipping_company_name %}
                                <li>{{ object.get_information.shipping_company_name }}</li>
                            {% endif %}

                            <li>{{ object.get_information.shipping_street_and_number }}</li>
                            <li>{{ object.get_information.shipping_city }}, {{ object.get_information.shipping_zip }}</li>
                            <li>{{ object.get_information.get_shipping_country_display }}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:25%;">{% trans 'Product' %}</th>
                    <th style="width:25%;">{% trans 'Quantity' %}</th>
                    <th style="width:25%;">{% trans 'Unit price' %}</th>
                    <th style="width:25%;">{% trans 'Total' %}</th>
                </tr>
            </thead>

            <tbody>
                {% for item in object.line_set.all %}
                    <tr>
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price|format_price }}</td>
                        <td>{{ item.total|format_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <th>{% trans 'Postage' %}</th>
                    <td>{{ object.price_shipping|format_price }}</td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <th>{% trans 'Sub-Total' %}</th>
                    <td>{{ object.subtotal|format_price }}</td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <th>{% trans 'Tax' %}</th>
                    <td>{{ object.tax|format_price }}</td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <th>{% trans 'Total' %}</th>
                    <td>{{ object.total|format_price }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>