{% load i18n %}

{% if object_list %}
    <div id="product-list">
        <div class="row">
            {% for object in object_list %}
                {% include 'commerce/products/helpers/item.html' %}

                {% if forloop.counter|divisibleby:3 %}
                    </div><!-- /.row -->
                        {% if not forloop.last %}<hr>{% endif %}
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div><!-- /.row -->
    </div>

    {% include 'commerce/helpers/pagination-listview.html' %}
{% else %}
    {% trans 'No products found.' %}
{% endif %}