{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Pragmatic Mates s.r.o. - www.pragmaticmates.com">

    <link href="{% static 'commerce/css/bootstrap/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'commerce/css/commerce.css' %}" type="text/css" rel="stylesheet">
    {% block css %}{% endblock %}

    <script type="text/javascript" src="{% static 'commerce/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'commerce/js/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'commerce/js/commerce.js' %}"></script>
    {% block js %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <div id="wrapper">
        <div id="main" class="container">
            {% include 'commerce/helpers/header.html' %}
            {% include 'commerce/helpers/breadcrumbs.html' %}
            {% include 'commerce/helpers/messages.html' %}
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>