{% load i18n %}

<table class="table">
    <thead>
        <th>{% trans 'Item' %}</th>
        <th>{% trans 'Price' %}</th>
        <th>{% trans 'Quantity' %}</th>
        <th>{% trans 'Subtotal' %}</th>
    </thead>
    <tbody>
        {% for item in cart.item_set.all %}
            <tr>
                <td>
                    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                    {% if item.option %}<br><small>{{ item.option }}</small>{% endif %}
                </td>
                <td>
                    {% if item.regular_price and item.regular_price != item.price %}<span class="regular-price">{{ item.get_regular_price_display }}</span>{% endif %}
                    {{ item.get_price_display }}
                </td>
                <td>{{ item.quantity }} <a href="{% url 'commerce:remove_from_cart' item.id %}">{% trans 'Remove' %}</a></td>
                <td>{{ item.get_subtotal_display }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
