{% load i18n crispy_forms_tags %}
<h1>{% trans 'Shopping cart' %}</h1>

{% if cart.is_empty %}
    {% trans 'Shopping cart is empty' %}
{% else %}
    {% include 'commerce/cart_items_table.html' %}

    <br>

    <strong>{% trans 'Discount code' %}:</strong><br>
    {% if cart.discount %}
        {% with cart.discount as discount %}
            <i>{{ discount.code }}</i> = {{ discount.get_amount_display }}

            {% if discount.content_types.all.exists %}
                ({{ discount.content_types.all|join:', ' }})
            {% endif %}
            <br>
            <a href="{% url 'commerce:unapply_discount' %}">{% trans 'Remove' %}</a>
        {% endwith %}
    {% else %}
        {% crispy form %}
    {% endif %}

    <strong>{% trans 'Subtotal' %}:</strong> {{ cart.get_subtotal_display }}

    <br><br>

    <a href="{% url 'commerce:checkout_addresses' %}">{% trans 'Proceed to checkout' %}</a>
{% endif %}

