{% load i18n %}

<table class="table">
    <thead>
        <th>{% trans 'Number' %}</th>
        <th>{% trans 'Date' %}</th>
        <th>{% trans 'Purchased items' %}</th>
        <th>{% trans 'Total' %}</th>
        <th>{% trans 'Payment method' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Invoice' %}</th>
    </thead>
    <tbody>
        {% for order in object_list %}
            <tr>
                <td><a href="{{ order.get_absolute_url }}">{{ order.number }}</a></td>
                <td>{{ order.created }}</td>
                <td>{{ order.purchaseditem_set.all|join:', ' }}</td>
                <td>{{ order.get_total_display }}</td>
                <td>{{ order.payment_method.get_method_display }}</td>
                <td>
                    {{ order.get_status_display }}
                    {% if order.status == order.STATUS_AWAITING_PAYMENT and order.payment_method.method == order.payment_method.METHOD_ONLINE_PAYMENT %}
                        <a href="{{ order.get_payment_url }}">{% trans 'Pay' %}</a>
                    {% endif %}
                </td>
                <td>
                    {% for invoice in order.invoices.all %}
                        <a href="{{ invoice.get_absolute_url }}">{{ invoice }}</a><br>
                    {% empty %}
                        {% if order.status != order.STATUS_AWAITING_PAYMENT %}
                            {% trans 'Preparing...' %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
