{% extends 'commerce/no-sidebar.html' %}
{% load i18n utils %}

{% block title %}{% trans 'Order confirmation' %}{% endblock %}
{% block content %}
    {% include 'commerce/checkout/helpers/process.html' with active="confirm" %}
    <h1 class="page-header">{% trans 'Order confirmation' %}</h1>

    <div class="row">
        <div class="span4">
            <h3>{% trans 'Invoicing information' %}</h3>

            <ul class="unstyled">
                <li>{{ request.user.first_name }} {{ request.user.last_name }}</li>
                <li>{{ profile.street_and_number }}</li>
                <li>{{ profile.city }}, {{ profile.zip }}</li>
                {% if profile.phone %}
                    <li>{{ profile.phone }}</li>
                {% endif %}
                <li>{{ profile.get_country_display }}</li>
                <li><a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a></li>
            </ul>

            {% if profile.company_name %}
                <ul class="unstyled">
                    <li>{{ profile.company_name }}</li>

                    {% if profile.company_tax_id %}
                        <li>{% trans 'TAX ID' %}: {{ profile.company_tax_id }}</li>
                    {% endif %}

                    {% if profile.company_vat %}
                        <li>{% trans 'VAT' %}: {{ profile.company_vat }}</li>
                    {% endif %}

                    {% if profile.company_id %}
                        <li>{% trans 'ID' %}: {{ profile.company_id }}</li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

        <div class="span4">
            <h3>{% trans 'Shipping address' %}</h3>

            <ul class="unstyled">
                <li>{{ profile.shipping_first_name }} {{ profile.shipping_last_name }}</li>

                {% if profile.shipping_company_name %}
                    <li>{{ profile.shipping_company_name }}</li>
                {% endif %}

                <li>{{ profile.shipping_street_and_number }}</li>
                <li>{{ profile.shipping_city }}, {{ profile.shipping_zip }}</li>
                <li>{{ profile.get_shipping_country_display }}</li>
            </ul>
        </div>

        <div class="span4">
            <h3>{% trans 'Shipping' %}</h3>

            <ul class="unstyled">
                <li>{{ shipping_payment_form.formatted_shipping }}</li>
            </ul>

            <h3>{% trans 'Payment' %}</h3>

            <ul class="unstyled">
                <li>{{ shipping_payment_form.formatted_payment }}</li>
            </ul>
        </div>

        <div class="span12">
            <h3>{% trans 'Order lines' %}</h3>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'Qty' %}</th>
                        <th>{% trans 'Unit price' %}</th>
                        <th>{% trans 'Price' %}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in cart.items %}
                        <tr>
                            <td>
                                <a href="{{ item.product.get_absolute_url }}">
                                    {% autoescape off %}{{ item.product }}{% endautoescape %}
                                </a>
                            </td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                {% if item.product.price_discount %}
                                    <span style="text-decoration: line-through;">{{ item.product.price|format_price }}</span>
                                {% endif %}
                                {{ item.product.get_price|format_price }}
                            </td>
                            <td>{{ item.price|format_price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="5">
                            <strong>{% trans 'Postage' %}: </strong>{{ shipping_payment_form.price|format_price }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <strong>{% trans 'Total' %}: </strong>{{ total|format_price }}
                        </td>
                    </tr>
                </tfoot>
            </table>

            <form method="post" action={% url commerce_checkout_confirm %}>
                {% csrf_token %}
                <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Confirm order' %}">
            </form>
        </div>
    </div>
{% endblock %}
