{% extends 'commerce/no-sidebar.html' %}
{% load i18n %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block content %}
    <div id="checkout-profile" class="clearfix">
        {% include 'commerce/checkout/helpers/process.html' with active="profile" %}

        <h1 class="page-header">{% trans 'Profile information' %}</h1>

        <form method="post" action="{% url commerce_checkout_profile %}" class="well clearfix form-horizontal">
            {% csrf_token %}
            {% include 'commerce/helpers/form.html' %}

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="{% trans 'Continue' %}" />
            </div>
        </form>
    </div>
{% endblock %}