{% extends 'commerce/sidebar-left.html' %}
{% load i18n thumbnail utils %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <h1 class="page-header">{{ object.title }}</h1>

    <div class="row">
        <div class="span3">
            <a href="{% url media object.cover %}">
                <img src="{% thumbnail object.cover COMMERCE_THUMBNAIL_SIZE %}" alt="{{ object.title }}">
            </a>
        </div>

        <div class="span6">
            <table class="table table-bordered">
                <tr>
                    <th>{% trans 'Description' %}</th>
                    <td>{% autoescape off %}{{ object.description }}{% endautoescape %}</td>
                </tr>

                {% if not object_list %}
                    <tr>
                        <th>{% trans 'Price' %}</th>
                        <td>{{ object.get_price|format_price }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    {% if object_list %}
        <table class="table table-bordered">
            {% for product in object_list %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>{{ product.get_price|format_price }}</td>
                    <td><a href="{% url commerce_cart_buy product.pk %}">{% trans 'Add to cart' %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <a href="{% url commerce_cart_buy object.pk %}" class="btn btn-primary">{% trans 'Buy' %}</a>
    {% endif %}
{% endblock %}